.input--blue.el-input {
  --el-input-bg-color: #001752;
  --el-input-border-color: #0076fc;
  --el-input-hover-border-color: #00a8fc;
  --el-input-focus-border-color: #00a8fc;
  --el-input-text-color: #c3ddff;
  --el-input-icon-color: #c3ddff;
  --el-input-border-radius: 4px;
  --el-input-placeholder-color: #c3ddff;
}
